.controls {
    &__wrapper {

        &::before {
            content: '';
            display: block;
            border-top: thin solid white;
            left: 0;
            margin: 0 8px;
            position: absolute;
            right: 0;
        }

        background: rgba(16, 32, 52, 0.8);
        backdrop-filter: blur(4px);
        height: 35px;
        font-style: normal;
        font-weight: normal;
        font-size: 0.75rem;
        line-height: 100%;
        position: fixed;
        width: 100%;
        bottom: 0px;
        z-index: 10;

    }
    

    a {
        flex: 1 0 auto;
        text-transform: uppercase;

        &:link,
        &:visited,
        &:hover,
        &:active {
            color: white;
        }
    }

    
        align-items: center;
        display: flex;
        height: 100%;
        margin: 0 10px;
    

    .custom {

        &-button {

            &-prev,
            &-next {
                align-items: center;
                justify-content: center;
                display: flex;
                height: 100%;
                width: 36px;

                .sprite {
                    width: 12px;
                }
            }
        }

        &-pagination {
            width: auto;
            margin: 0 16px;
        }
    }
}