#intro {

    &::after {
        background: linear-gradient(180deg, rgba(16, 32, 52, 0) 0%, rgba(16, 32, 52, 0.8) 100%);
        bottom: 0;
        content: '';
        height: 50px;
        position: absolute;
        width: 100%;
    }
    .device {
        display: none;
        @include respond-to('medium') {
            bottom: 70px;
            display: block;
            position: absolute;
            // top: 14vh;
            left: 57vw;
            width: 20vw;
        }
    }
    
    .fingers-up {
        bottom: 0;
        position: absolute;
        right: 0;
        width: 100%;
        @include respond-to('medium') {
            width: 50%;
        }
    }

    .logo-light {
        width: 150px;
        margin-bottom: 24px;
    }

    .sponser {
        @include respond-to('medium') {
            width: 122px;
        }
    }

    p.sub-1 {
        display: flex;
        align-items: center;

        .sprite {
            margin-left: 4px;
            @include respond-to('medium') {
                margin-left: 8px;
            }
        }
    }
}