#parlays {
    color: #831622;

    .portnoy {
        bottom: 0;
        position: absolute;
        right: 0;
        width: 100%;
    }
    .parlay-logo {
        bottom: 10vh;
        left: 24px;
        position: absolute;
    }

    .disclaimer {
        color: #111111;
        text-shadow: 0px 0px 12px #FFFFFF;
    }

}