#quick-pick-6 {
    
    .mascot {
        bottom: 0;
        position: absolute;
        right: 0;
        width: 75%;
    }

    .quick-pick-logo {
        bottom: 10vh;
        left: 24px;
        position: absolute;
        width: 43.75vw;
    }


}