.bg {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    &__boxes {
        &-sm {
            background-image: url('../images/bg-boxes-mobile.jpg');
        }
        @include respond-to('medium') {
            background-image: url('../images/bg-boxes.jpg');
        }
    }

    &__playbook {
        &-sm {
            background-image: url('../images/bg-playbook-mobile.jpg');
        }
        @include respond-to('medium') {
            background-image: url('../images/bg-playbook.jpg');
        }
    }

    &__foamhands {
        &-sm {
            background-image: url('../images/bg-foam-hands-mobile.jpg');
        }
        @include respond-to('medium') {
            background-image: url('../images/bg-foam-hands.jpg');
        }
    }

    &__red-squares {
        &-sm {
            background-image: url('../images/bg-red-squares-mobile.jpg');
        }
        @include respond-to('medium') {
            background-image: url('../images/bg-red-squares.jpg');
        }
    }

    &__red-stars {
        &-sm {
            background-image: url('../images/bg-red-stars-mobile.jpg');
        }
        @include respond-to('medium') {
            background-image: url('../images/bg-red-stars.jpg');
        }
    }

    &__white-numbers {
        &-sm {
            background-image: url('../images/bg-white-numbers-mobile.jpg');
        }
        @include respond-to('medium') {
            background-image: url('../images/bg-white-numbers.jpg');
        }
    }

    
}